

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", system-ui, sans-serif;

  background:
    radial-gradient(circle at top left, #ffd6a5, transparent 40%),
    radial-gradient(circle at top right, #9f7aea, transparent 40%),
    radial-gradient(circle at bottom left, #667eea, transparent 40%),
    linear-gradient(135deg, #1f1c2c, #2a1f4f);

  background-attachment: fixed;
  color: white;
}
.card{
  background-color: rgb(102, 212, 210);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  color: blue;
}
.Loginform{
  background-color: #f5f394;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  color: #333;
  border-color: rgb(119, 31, 171);
  border: 2px solid;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.25);
  border-radius: 30px;
}
.Loginform input{
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Loginform button{
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Loginform button:hover{
  background-color: #0c0651;
}
#parent{
  border:2px solid black;
  padding:10px;
  margin:10px;
  text-align:center;
}
.header{
  background-color: #4CAF50;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 15px;
  margin: 0px 10px 20px 10px;
}
.header h1{
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(209, 93, 15);

}
.header .navbar a{
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}
.header .navbar a:hover{
  text-decoration: underline;
}
.header ul{
  list-style-type: none;
  padding: 0;
}
.header li{
  display: inline;
  margin: 0 10px;
} 